.table-flex {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.table-flex .table-header,
.table-flex .table-body {
	border-bottom: 1px solid #eee;
}

.table-flex .table-row	{
	border-bottom: 1px solid #eee;
}

.table-flex .table-header .table-row:last-child,
.table-flex .table-footer .table-row:last-child	{
	border-bottom: none;
}

.table-flex .table-header,
.table-flex .table-footer {
	flex: none;
}

.table-flex .table-body {
	 flex: 1;
	 overflow-y: scroll;
}

.table-flex .table-header .table-column {
	font-weight: bold;
}

.table-flex .table-row {
	display: flex;
	flex-direction: row;
}

.table-flex .table-column	{
	flex: 1;
	border-right: 1px solid #eee;
	overflow: hidden;
}

.table-flex .table-column:last-child	{
	border-right: none;
	flex: 0 0 40px;
}


.table-flex .table-column > span,
.table-flex .table-column > input,
.table-flex .table-column > textarea {
	line-height: 1.25rem;
	font-size: 1em;
	border: none;
	box-shadow: none;
	background: transparent;
	resize: none;
	padding: 0.75rem;
	display: block;
	width: 100%;
	white-space: pre;
}

.table-flex .table-column > textarea {
	background-color: rgba(192, 0, 0, 0.05);
}

.active {
	background-color: #fafafa;
}
