<html>
  <head>
    <title>textual.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
    <link href="/static/css/static.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-primary navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">textual.io <small class="beta">beta</small></a>
        </div>
      </div>
    </nav>
    <main>
      <%- body %>
    </main>
    <footer class="navbar navbar-primary">
      <div class="container">
        <p class="navbar-text"><span text>Copyright &copy; 2015</span> <a href="https://www.jonatanpedersen.com">Jonatan Pedersen</a></p>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/license" text>License</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
