<% layout('_layout') -%>
<section class="jumbotron">
  <div class="container">
    <h1>About</h1>
    <p class="lead">textual.io is made with <i class="glyphicon glyphicon-heart"></i> in Copenhagen.</p>
  </div>
</section>
