<% layout('_layout') -%>
<header class="jumbotron">
  <div class="container">
    <h1>Features</h1>
    <p class="lead">Take back control of your texts...</p>
  </div>
</header>
<section class="section section-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      </div>
      <div class="col-xs-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ipsum enim, hendrerit vel interdum sit amet, finibus et orci. Nam sollicitudin sollicitudin tellus, vitae pellentesque nibh fermentum nec. Pellentesque sit amet mauris quis dolor eleifend tincidunt non et orci. Maecenas sagittis nisi sed metus vestibulum, non tristique tellus varius. Donec placerat consectetur arcu, rutrum commodo ex tincidunt in. Quisque ullamcorper elit sollicitudin iaculis vestibulum. Maecenas ornare sit amet felis in luctus. Proin tempor facilisis mauris non dignissim. Aliquam erat volutpat. Ut pulvinar, neque at ultrices aliquam, diam est ullamcorper risus, in suscipit sem turpis eget augue. Nulla non sapien eu magna consectetur porta in sit amet lorem. Nullam bibendum risus vitae lacus pulvinar egestas.</p>
      </div>
    </div>
  </div>
</section>
<section class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <p>Nam accumsan dui risus, in tincidunt lacus elementum id. Vivamus scelerisque arcu in justo lobortis, ut finibus magna pulvinar. Suspendisse nec fermentum metus, ut luctus sapien. Cras nec turpis condimentum, vehicula dui non, aliquam lorem. Mauris diam nibh, placerat sed purus efficitur, facilisis vulputate ligula. Duis malesuada sit amet ante sed facilisis. Donec eu malesuada purus. Suspendisse potenti. Phasellus tincidunt imperdiet odio ut lobortis. Phasellus non metus eu justo tempus tincidunt vel sed arcu.</p>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
  </div>
</section>
<section class="section section-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      </div>
      <div class="col-xs-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ipsum enim, hendrerit vel interdum sit amet, finibus et orci. Nam sollicitudin sollicitudin tellus, vitae pellentesque nibh fermentum nec. Pellentesque sit amet mauris quis dolor eleifend tincidunt non et orci. Maecenas sagittis nisi sed metus vestibulum, non tristique tellus varius. Donec placerat consectetur arcu, rutrum commodo ex tincidunt in. Quisque ullamcorper elit sollicitudin iaculis vestibulum. Maecenas ornare sit amet felis in luctus. Proin tempor facilisis mauris non dignissim. Aliquam erat volutpat. Ut pulvinar, neque at ultrices aliquam, diam est ullamcorper risus, in suscipit sem turpis eget augue. Nulla non sapien eu magna consectetur porta in sit amet lorem. Nullam bibendum risus vitae lacus pulvinar egestas.</p>
      </div>
    </div>
  </div>
</section>
<section class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <p>Nam vulputate ante nec risus venenatis, sit amet congue quam scelerisque. Aenean interdum quam eget metus aliquam, in dapibus leo tincidunt. In nec augue ipsum. Mauris tellus lacus, euismod a congue a, maximus non tortor. Aenean risus metus, ultrices nec nulla vitae, consequat placerat massa. Quisque lacus tortor, accumsan ut leo vel, finibus dapibus nisi. Nam pharetra bibendum lacus, et aliquam tellus tincidunt in. Cras nec justo dignissim, luctus augue id, interdum urna.</p>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
  </div>
</section>
<section class="section section-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      </div>
      <div class="col-xs-6">
        <p>Proin aliquet id ligula non posuere. Sed ut justo nisl. Aliquam cursus nulla ac lacus pulvinar, at egestas odio imperdiet. Pellentesque id lectus quis sapien semper hendrerit id nec ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras vehicula quis lacus sed ultrices. Sed placerat elit at libero ornare blandit. In cursus, nunc in placerat gravida, sapien diam venenatis nibh, sed sagittis diam felis gravida ante. Praesent metus dolor, aliquet ornare auctor eu, vestibulum sit amet massa.</p>
      </div>
    </div>
  </div>
</section>
