<% layout('_layout') -%>

<section class="jumbotron">
  <div class="container">
    <h1>Pricing</h1>
    <p class="lead">textual.io is free for everyone in the beta run...</p>
  </div>
</section>

<section class="section section-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Beta <small class="price">$0.00/month</small></h4>
          </div>
          <div class="panel-body">
            <p>Free forever, no restrictions.</p>
            <ul>
                <li>1 User</li>
                <li>Unlimited Projects</li>
                <li>Unlimited Texts</li>
                <li>No Support</li>
            </ul>
          </div>
          <div class="panel-footer">
             <a href="/login" class="btn btn-primary">Sign up</a>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Hobby <small class="price">$0.00/month</small></h4>
          </div>
          <div class="panel-body">
            <p>Free forever, no restrictions.</p>
            <ul>
                <li>1 User</li>
                <li>1 Project</li>
                <li>Unlimited Texts</li>
                <li>No Support</li>
            </ul>
          </div>
          <div class="panel-footer">
             <a href="" class="btn btn-primary" disabled>Comming soon</a>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Basic <small class="price">$5.00/month</small></h4>
          </div>
          <div class="panel-body">
            <p>Free forever, no restrictions.</p>
            <ul>
                <li>1 User</li>
                <li>5 Projects</li>
                <li>Unlimited Texts</li>
                <li>Email Support</li>
            </ul>
          </div>
          <div class="panel-footer">
             <a href="" class="btn btn-primary" disabled>Comming soon</a>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Premium <small class="price">$50.00/month</small></h4>
          </div>
          <div class="panel-body">
            <p>Free forever, no restrictions.</p>
            <ul>
                <li>50 Users</li>
                <li>50 Projects</li>
                <li>Unlimited Texts</li>
                <li>Email Support</li>
            </ul>
          </div>
          <div class="panel-footer">
             <a href="" class="btn btn-primary" disabled>Comming soon</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
