body {
  margin-top: 50px;
}

.price {
  color: green;
  float: right;
  line-height: 2rem;
}

.beta {
  background-color: #2780e3;
  color: #fff;
  border-radius: 3px;
  padding: 2px 5px;
}

.section { padding: 60px 0;}
.section-default { }
.section-primary { background-color: #eee; }

.navbar-primary  {
  background-color: #fff;
}

.jumbotron  {
    background-color: #2780e3;
    color: #fff;
    margin: 0;
}

.jumbotron h1 {
    margin-top: 0;
    font-size: 8rem;
}

.jumbotron .btn-primary {
    background-color: #1967be;
    border-color: #1862b5;
    font-size: 4rem;
}


pre {
  background-color: transparent;
  border-width: 0;
  padding: 0;
}
