@import '../variables';

$table-color: #f7f7f7;

.project-metrics-table {
	margin-top: 3rem;
	margin-bottom: 2rem;
	width: 100%;
	border: 1px solid $border-color;
	td, th {
		padding: 1rem;
		text-align: left;
		border: 1px solid $border-color;
	}

	.project-metrics-table__row {
		.language-code {
			width: 50%
		}
		.coverage {
			width: 50%;
			text-align: right;
		}
	}
}

.projects-table {
	margin-top: 3rem;
	margin-bottom: 2rem;
	width: 100%;
	border: 1px solid $border-color;
	td, th {
		padding: 1rem;
		text-align: left;
		border: 1px solid $border-color;
	}
	.projects-table__row {
		&--selected {
			background-color: #f7f7f7;
		}

		.project-name {
			width: 50%
		}
		.project-actions {
			width: 50%
		}
	}
}

.new-project-button {
}

.project-dropdown {
	margin: 0;
	height: 3rem;
	font-size: 1.1rem;
	border: none;
}

.create-project-form {
	.project-name {
		width: 20rem;
	}

	.repository-url,
	.user-repository {
		width: 30rem;
	}
}

.project-texts-layout {
	.table-flex {
		.table-header {
			.table-row:first-child {
				background-color: $table-color;
			}
		}

		.table-column:first-child {
			padding: 0;
			text-align: right;
			background-color: $table-color;
		  flex: 0 0 80px;
		}
	}

	.filter {
		font-size: 1.1rem;
		width: 30rem;
		height: 3rem;
		float: right;
	}
}
