* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.content {
  flex: 1;
  position: relative;
	overflow-y:auto;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table {
    width: 100%;
    max-width: 100%;
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th {
    border-top: 0
}

.table>tbody+tbody {
    border-top: 2px solid #ddd
}

table col[class*=col-] {
    position: static;
    display: table-column;
    float: none
}

table td[class*=col-],table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none
}

.text {
  text-align: left;
}

.number {
  text-align: right;
}

a {
	text-decoration: none;
	color: #000;
}

::-webkit-scrollbar {
	display: none;
}

input, textarea, select {
 outline: none;
}

.loading {
	position: absolute;
	margin-top: -4rem;
	margin-left: -4rem;
	top: 50%;
	left: 50%;
	bottom: 0;
	right: 0;
	color: #ccc;
}

.octicon.octicon-clock.spin-octicon {
	font-size: 8rem !important;
}

.component {
	padding: 1rem;
	background-color: rgba(0,0,0,0.05);
}

.component label,
.component input {
	margin: 1rem 0;
	display: block;
}

shortcuts:focus { outline:none; }
