.section { padding: 30px 0;}
.section-default { }
.section-primary { background-color: #eee; }
.btn-toolbar { margin: 20px 0; }
.navbar-bottom { margin-bottom: 0;}
.main { margin: 50px 0; }
pre {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
