@import 'variables';

.project-metrics-table {
	margin-top: 3rem;
	margin-bottom: 2rem;
	width: 100%;
	border: 1px solid $border-color;
	td, th {
		padding: 1rem;
		text-align: left;
		border: 1px solid $border-color;
	}

	.project-metrics-table__row {
		.language-code {
			width: 50%
		}
		.coverage {
			width: 50%;
			text-align: right;
		}
	}
}

.projects-table {
	margin-top: 3rem;
	margin-bottom: 2rem;
	width: 100%;
	border: 1px solid $border-color;
	td, th {
		padding: 1rem;
		text-align: left;
		border: 1px solid $border-color;
	}
	.projects-table__row {
		.project-name {
			width: 50%
		}
		.project-actions {
			width: 50%
		}
	}
}

.new-project-button {
}

.project-dropdown {
	margin: 0;
	height: 3rem;
	border: none;
}

.create-project-form {
	.project-name {
		width: 20rem;
	}

	.repository-url,
	.user-repository {
		width: 30rem;
	}
}

.project-texts-table {
	.table-column:last-child {
		padding: 0;
	  flex: 0 0 80px;
	}
}
